/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* NAVBAR */
header {
  width: 100%;
  background: #0e0e0e;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: #ff6900;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
.nav-links a:hover,
.nav-links a.active {
  color: #ff6900;
}

.hire-btn {
  background: #ff6900;
  padding: 8px 18px;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.home-left h2 {
  font-size: 42px;
  color: #ff6900;
}
.home-left h3 {
  font-size: 26px;
}
.home-left h4 {
  color: #ccc;
}

/* ===== HOME BUTTONS (FIXED) ===== */
.home-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.home-buttons .btn,
.home-buttons .hire-btn {
  padding: 10px ;

  border: 1px solid #ff6900;
  background: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.home-buttons .hire-btn{
  color: oklch(87.2% .01 258.338);
}
.home-buttons .btn:hover,
.home-buttons .hire-btn:hover {
  background: #ff6900;
  color: #000;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.stat-box {
  background: #1a1a1a;
  padding: 10px;
  text-align: center;
  min-width: 120px;
}
.stat-box h3 {
  font-size: 14px;
  color: oklch(87.2% .01 258.338);

}
.stat-number {
  color: oklch(70.5% .213 47.604); /* Orange for numbers */
    font-weight: var(--font-weight-bold);
    font-size: 20px;
}
/* IMAGE DESKTOP */
.img-circle {
  width: 610px;
  height: 660px;
  border-radius: 50%;
  border: 4px solid #ff6900;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT */
.Me {
  text-align: center;
  font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;

}
.U {
  text-align: center;
  color: oklch(87.2% .01 258.338);
}

.about {
  display: flex;
  gap: 50px;
  padding: 40px;
}
.About-buttons .btn{
  padding: 12px 22px;
  border: 1px solid #ff6900;
  background: #ff6900;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.about-left img {
  width: 330px;
  height: 500px;
  border-radius: 10px;
}

.about-right p {
  line-height: 1.6;
  font-size: 25px;
  margin-bottom: 10px;
;
}
.about li{
    color: oklch(87.2% .01 258.338);
    line-height: 2.0;
    font-size: 16px;
       text-align: left;


}
.about ul{
  list-style-type:square;
}
/* ICON SKILLS */
.skills-icons {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  
}

.skill-icon {
  text-align: center;
  color: #fff;
  
  
}

.skill-icon span {
  width: 70px;
  height: 70px;
  border: 4px solid #ff6900;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ff6900;
  font-size: 18px;
  margin: auto;
  background: #232323;
  
  
}

.skill-icon p {
  margin-top: 8px;
  font-size: 13px;
  color: #ccc;
  
}

/* PORTFOLIO */
/* PORTFOLIO SECTION */
.portfolio {
  padding: 40px;
  color: #fff;
}

.portfolio h2 {
  text-align: center;
  font-size: 24px;
      font-weight: 600;
      margin-bottom: 40px;
}

/* PROJECT GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* PROJECT CARD */
.project {
  background: #232323;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* IMAGE */
.project img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* TEXT */
.project h3 {
  font-size: 18px;
  color: oklch(87.2% .01 258.338);
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
    padding-bottom: 15px;

}


/* HOVER EFFECT */
.project:hover {
  transform: translateY(-10px);
}

.project:hover img {
  transform: scale(1.1);
}

/* SERVICES SECTION */
.services {
  padding: 30px;
  color: #fff;
  text-align: center;
}

.services h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.service-subtitle {
  color: oklch(87.2% .01 258.338);
  margin-bottom: 50px;
  font-size: 15px;
}

/* SERVICE GRID */
.service-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* SERVICE CARD */
.service-card {
  background: #232323;;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.service-card i {
  font-size: 40px;
  color: #f97316;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.service-card p {
  font-size: 14px;
  color: oklch(87.2% .01 258.338);
  line-height: 1.6;
}

/* HOVER EFFECT */
.service-card:hover {
  transform: translateY(-12px);
}



/* ================= CONTACT SECTION ================= */

.contact {
  padding: 60px 20px;
}

.contact h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
.contact p{
   text-align: center;
  color: oklch(87.2% .01 258.338);
  font-size: 14px;
  margin-bottom: 30px;
}

/* FORM LAYOUT */
.contact form {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: transparent;
  padding: 0;
}

/* INPUTS & TEXTAREA */
.contact input,
.contact textarea {
  width: 100%;
  padding: 15px;
  border: 1px ;
  color: #fff;
  font-size: 14px;
    background-color: #232323;;

}

/* PLACEHOLDER */
.contact input::placeholder,
.contact textarea::placeholder {
  color: #aaa;
}

/* TEXTAREA FULL WIDTH */
.contact textarea {
  grid-column: span 2;
  resize: none;
  min-height: 120px;
}

/* SUBMIT BUTTON */
.contact button {
  grid-column: span 2;
  justify-self: center;
  width: 100px;
  padding: 12px;
  background-color: #232323;;
  color: #aaa;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

}

.contact button:hover {
  background-color: #232323;;
  border: 1px ;
}



/* FOOTER */
.footer {
  background: #1a1a1a;
  text-align: center;
  padding: 20px;
}
footer p{
  color: #ff6900;
}
.footer-links {
  margin-top: 10px;
}
.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.mail i {
  color: #ccc;
  font-size: 16px;
}

.mail:hover {
  color: #ff6900;
}


/* TABLET */
@media (max-width: 1024px) and (min-width: 730px) {
  .home {
    padding-top: 100px;
  }

  

  .img-circle {
    width: 100%;
    height: 500px;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }
  .about img{
    height: 550px;
  }

  .about-right p {
    font-size: 16px;
  }
  .skills-icons {
    justify-content: center;
  }
  .skill-icon span {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .project img {
    height: auto;
    object-fit: cover;
  }
   .service-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

/* MOBILE */
@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .hire-btn.desktop-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 30px;
    background: #1a1a1a;
    flex-direction: column;
    display: none;
    padding: 20px;
    border-radius: 8px;
  }
  .nav-links.show {
    display: flex;
  }

  .home {
    flex-direction: column;
    text-align: left;

  }

  
  .stats {
    gap: 10px;
    overflow-x: auto;
    padding: 0 10px;
  }

  .stat-box {
    min-width: 100px;
  }

  .img-circle {
    width: 300px;
    height: 500px;
    margin-top: 30px;
  }

  .about {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-left img {
    width: 300px;
    height: 500px;
  }

  .about-right p {
    font-size: 20px;

  }
  .about-right li{
   text-align: left;
  }

 .skills-icons {
    justify-content:left;
  }
  .skill-icon span {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .project img {
    height: auto;
    object-fit: cover;
  }
  .contact form {
    grid-template-columns: 1fr;
  }

  .contact textarea,
  .contact button {
    grid-column: span 1;
  }
   .service-boxes {
    grid-template-columns: 1fr;
  }
}